@import "tailwindcss";


html, body, #root {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  height: 100%;
  margin: 0;
  background-color: #131415;
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}

.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

@keyframes scroll {
  0% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(-50%);
  }
}

.slide-track {
  animation: scroll 20s linear infinite;
}